* {
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #222222;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#canvas-container {
    display: flex;
}

canvas {
    background-color: #BBC397;
    border-radius: 10px;
}

.about {
    margin-right: 10px;
    align-items: end;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
}

#github {
    position: relative;
    height: 100px;
}

#delete {
    display: flex;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    background-color: #cd747b;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

p {
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-weight: 600;
}

#bg-selection-items , #toolbox-items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.bg-color {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    padding: 2px;
    cursor: pointer;
}

#blue {
    background-color: #c5d6e0;
}

#pink {
    background-color: #f0d3d3;
}

#ivory {
    background-color: #dfd6d1;
}

#cream {
    background-color: blanchedalmond;
}

#green {
    background-color: #c0cfb2;
}

#toolbox {
    border-radius: 10px;
    width: auto;
}

.item {
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    background: blanchedalmond;
    background-repeat: no-repeat;
    background-size: 200%;
    padding: 2px;
    cursor: pointer;
}

.item:hover {
    background-color: #c5d6e0;
}

#ranunculus {
    background: url("assets/ranunculus.svg") center/contain no-repeat;
    background-color: blanchedalmond;
    
}

#rose {
    background: url("assets/rose.svg") center/contain no-repeat;
    background-color: blanchedalmond;
    /* border: 2px solid transparent; */
}

#monstera {
    background: url("assets/monstera.svg") center/contain no-repeat ;
    background-color: blanchedalmond;
}

#hibiscus {
    background: url("assets/hibiscus.svg") center/contain no-repeat;
    background-color: blanchedalmond;
}


#almond {
    background: url("assets/almond.svg") center/contain no-repeat;
    background-color: blanchedalmond;
}

#sunflowers {
    background: url("assets/sunflowers.svg") center/contain no-repeat;
    background-color: blanchedalmond;
}

#glass-rose {
    background: url("assets/baptism.svg") center/contain no-repeat;
    background-color: blanchedalmond;
}

#bouquet {
    background: url("assets/bouquet.svg") center/contain no-repeat;
    background-color: blanchedalmond;
}

#download {
    font-size: 1rem;
    margin: 20px;
    background-color: #f0d3d3;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#download:hover {
    background-color: #c0cfb2;
    transform: translateX(-2px);
}

.active {
    border: 2px solid #888888;
    padding: 0px;
}